<div class="features">
    <h3>The event will feature:</h3>

    <div class="container">
        <div class="row">
            <div class="col col-12 col-md-6">
                <img src="assets/images/magnify.png"/>
                <p class="eb-garamond-medium"><span class="highlight-pink">Emerging research</span> on the social, economic, environmental, and energy impacts of AI infrastructure development</p>
            </div>
            <div class="col col-12 col-md-6">
                <img src="assets/images/powerlines.png"/>
                <p class="eb-garamond-medium"><span class="highlight-green">Panels</span> on environmental sustainability, grid impacts, electricity affordability, labor, economic development, and community benefits</p>
            </div>
        </div>
        <div class="row">
            <div class="col col-12 col-md-4">
                <img src="assets/images/draft.png"/>
                <p class="eb-garamond-medium"><span class="highlight-blue">Collaborative sessions</span class="highlight-pink"> to inform a Community Action Plan around AI Infrastructure</p>
            </div>
            <div class="col col-12 col-md-4">
                <img src="assets/images/policy.png"/>
                <p class="eb-garamond-medium"><span class="highlight-orange">Discussions</span> on local, state, and federal policy responses to AI infrastructure expansion</p>
            </div>
            <div class="col col-12 col-md-4">
                <img src="assets/images/dialogue.png"/>
                <p class="eb-garamond-medium"><span class="highlight-green">Community perspectives</span> and organizing strategies responding to data center development</p>
            </div>
        </div>
    </div>
</div>