
   <header>
        <div class="header-content">
            <h1 class="eb-garamond-medium"><span class="non-highlighted">Community-Centered<br/></span><span class="highlighted">AI Infrastructure Summit</span></h1>
            <div class="header-details">
                <p class="subtext">Join residents, community organizations, policymakers, researchers, technologists, energy experts, and advocates on a statewide convening on the future of AI infrastructure in Pennsylvania. </p>
                <p class="date">Friday, October 2, 2026, 9:00 AM - 5:00 PM</p>
                <p>Mellon Institute Auditorium, Carnegie Mellon University, Pittsburgh, PA</p>
                <a href="https://forms.gle/hvbm8j82VZptK66J6">RSVP TO THE SUMMIT →</a>
            </div>
        </div>
    
</header>