<div class="organizers">
    <h3>Organized By:</h3>

    <div class="container">
        <div class="row">
            <div class="col-3">
                <a href="https://www.cmu.edu/"><img src="assets/images/cmu.png"></a>
            </div>
            <div class="col-3">
                <a href="https://centerforcoalfieldjustice.org/"><img src="assets/images/ccj.png"></a>
            </div>
            <div class="col-3">
                <a href="https://datasociety.net/"><img src="assets/images/datasociety.png"></a>
            </div>
            <div class="col-3">
                <a href="https://paclimateequity.org/"><img src="assets/images/pacet.png"></a>
            </div>
        </div>
    </div>

    <h3>With Support From:</h3>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a href="https://www.cmu.edu/block-center"><img src="assets/images/blockcenter.png"></a>
            </div>
            <div class="col-3">
                <a href="https://hillmanfoundation.com/"><img src="assets/images/hillman.png"></a>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</div>