<div class="speakers" id="speakers">
    <h3>Featured Speakers:</h3>

    <div class="container">
        <div class="row">
            <div class="col-6 col-md-3">
                <a href="https://www.palegis.us/senate/members/bio/1802/sen-katie-muth">
                    <img src="assets/images/katie-muth.jpg">
                    <p>Katie Muth, PA Senate District 44</p>
                </a>
            </div>
            <div class="col-6 col-md-3">
                <a href="https://ugupta.com/"><img src="assets/images/udit-gupta.jpg">
                <p>Udit Gupta, Cornell Tech</p></a>
            </div>
            <div class="col-6 col-md-3">
                <a href="https://www.paulinajaramillo.org/"><img src="assets/images/paulina-jaramillo.png">
                <p>Paulina Jaramillo, Carnegie Mellon University</p></a>
            </div>
            <div class="col-6 col-md-3">
                <a href="https://www.tamarakneese.com/"><img src="assets/images/tamara-kneese.jpg">
                <p>Tamara Kneese, Partnership on AI</p></a>
            </div>
            
            
            
            
        </div>
            
        <div class="row">
            <div class="col-6 col-md-3">
                <a href="https://www.protectpt.org/about?lightbox=dataItem-m8yy76a7"><img src="assets/images/lauren-posey.jpg">
                <p>Lauren Posey, Protect PT</p></a>
            </div>
            <div class="col-6 col-md-3">
                <a href="https://sph.umd.edu/people/sacoby-wilson"><img src="assets/images/sacoby-wilson.jpg">
                <p>Sacoby Wilson, University of Maryland</p></a>
            </div>
            
            <div class="col-6 col-md-3">
                <a href="https://datasociety.net/team/maia-woluchem/"><img src="assets/images/maia-woluchem.jpg">
                <p>Maia Woluchem, Data & Society</p></a>
            </div>
            <div class="col-6 col-md-3">
                <a href="https://www.maketheroadpa.org/"><img src="assets/images/make-the-road.jpg">
                <p>Make the Road Pennslyvania</p></a>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <a href="https://pastandsup.org/lancaster/"><img src="assets/images/lancaster-stands-up.png">
                <p>Frank Arcoleo, Lancaster Stands Up</p>
                </a>
            </div>
            <div class="col-6 col-md-3">
                <a href="https://nodatacentersinphilly.com/"><img src="assets/images/philly-tech-justice.png">
                <p>Philly Tech Justice</p>
                </a>
            </div>
            <div class="col-6 col-md-3"></div>
            <div class="col-6 col-md-3"></div>
        </div>
    </div>
</div>